<h1 class="h1">{{title}}</h1>

<form>
  <div class="row">
    <div class="col">
      <label for="baseSalary">Base Salary ($)</label>
      <input type="number" id="baseSalary" class="form-control" (change)="setBaseSalary($event)" value="{{baseSalary}}" placeholder="120000">
    </div>
    <div class="col">
      <label for="super">Super (%)</label>
      <input type="number" id="super" class="form-control" (change)="setSuper($event)" value="{{super}}" placeholder="9.5">
    </div>

  </div>
  <div class="row">
    <div class="col">
      <label for="workingDays">Working Days</label>
      <input type="number" id="workingDays" class="form-control" (change)="setWorkingDays($event)" value="{{workingDays}}" placeholder="{{workingDays}}">
    </div>
    <div class="col">
      <label for="dailyRate">Daily Rate (%)</label>
      <input type="number" id="dailyRate" class="form-control" (change)="setDailyRate($event)" value="{{dailyRate}}" placeholder="{{dailyRate}}">
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Calculate</button>
</form>
<hr/>
<div class="container">
  <div class="row">
    <label><strong>Super =</strong>  $</label> {{getTotalSuper().toFixed(0) | number:'1.0':'en-US'}}
  </div>
  <div class="row">
    <label><strong>Total Package =</strong> $</label> {{getTotalPackage().toFixed(0) | number:'1.0':'en-US'}}
  </div>
  <hr/>
  <div class="row">
    <label><strong>Divided by average working days in year ({{workingDays}}) =</strong> $</label> {{getTotalDividedAvgWorkingDays().toFixed(0) | number:'1.0':'en-US'}}
  </div>
  <div class="row">
    <label><strong>Daily Rate + {{getDailyRateAsPercent()}}% =</strong> $</label> {{getTotalDailyRate().toFixed(0) | number:'1.0':'en-US'}}
  </div>
</div>